<div class="span12">
<%- model_class = Przystanek -%>
<div class="page-header">
  <blockquote><p><big>Lista przystanków</big></p></blockquote>
</div>
<table id="przystanki" class="table table-striped">
  <thead>
    <tr>
      <th>Numer przystanku</th>
      <th><%= model_class.human_attribute_name(:nazwa) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @przystaneks.each do |przystanek| %>
      <tr>

        <td><%= przystanek.przystanek_id %></td>
        <td><%= przystanek.nazwa %></td>

        <td style="width:12%">
          <%= link_to raw("<i class=\"icon-edit\"></i>"),
                      przystanek_edytuj_path(przystanek), :class => 'btn btn-mini btn-success', :id => "edit",
                      :title => "Edycja przystanku" %>
           <%= link_to raw("<i class=\"icon-search\"></i>"),
                      przystanek_path(przystanek), :class => 'btn btn-mini btn-warning', :id => "show",
                      :title => "Podgląd przystanku" %>
          <%= link_to raw("<i class=\"icon-remove\"></i>"),
                      usun_przystanek_path(przystanek), :id => "delete",
                     
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jesteś pewien?')) },
                      :class => 'btn btn-mini btn-danger',
                      :title => "Usuń przystanek" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to raw("<i class=\"icon-plus\"></i> Dodaj nowy przystanek"),
            new_przystanek_path,
            :class => 'btn btn-primary' %>
 
</div>
