<div class="span9">
<%- model_class = Przystanek -%>
<div class="page-header">
  <blockquote><p><big>Lista przystanków</big></p></blockquote>
</div>
<table id="przystanki" class="table table-striped">
  <thead>
    <tr>
      <th>Numer przystanku</th>
      <th><%= model_class.human_attribute_name(:nazwa) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @przystaneks.each do |przystanek| %>
      <tr>
        <td><%= link_to przystanek.id, przystanek_path(przystanek) %></td>

        <td><%= przystanek.nazwa %></td>

        <td style="width:12%">
          <%= link_to raw("<i class=\"icon-edit\"></i>"),
                      edit_przystanek_path(przystanek), :class => 'btn btn-mini btn-success', 
                      :title => "Podgląd przystanku" %>
          <%= link_to raw("<i class=\"icon-remove\"></i>"),
                      przystanek_path(przystanek),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jesteś pewien?')) },
                      :class => 'btn btn-mini btn-danger',
                      :title => "Usuń przystanek" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to raw("<i class=\"icon-plus\"></i> Dodaj nowy przystanek"),
            new_przystanek_path,
            :class => 'btn btn-primary' %>
 
</div>
 <div class="span3">
        <h3>Opis</h3>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.     </div>