<%- model_class = Przystanek -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @przystanek.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nazwa) %>:</strong></dt>
  <dd><%= @przystanek.nazwa %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              przystaneks_index_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_przystanek_path(@przystanek), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              przystanek_path(@przystanek),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jesteś pewien?')) },
              :class => 'btn btn-danger' %>
</div>
