      <div class="span3">
<%= simple_form_for @rezerwacja, :html => { :class => 'form-inline' } do |f| %>

    <% @przystanek = Przystanek.find(:all, :order => "id desc") %>
     
     <h5>Dane uczestnika</h3>        

      <%= f.input :imie  ,label: "Imię", as: :string %>
      <%= f.input :nazwisko , as: :string  %>
      <%= f.input :dataUrodzenia, label: "Data urodzenia", as: :string %>
      <%= f.input :nrtelefonu, label: "Telefon" , as: :tel  %>

       </div> 
       <div class="span3">
        <h5>Dane wycieczki</h5>
         
         <%= f.input :nazwa, label: "Wycieczka" , collection: Wycieczka.find(:all,  :order => "id desc", :limit => 10, :conditions => ['data >= ?', DateTime.now]), label_method: "combined_value", value_method: :id,  :prompt => "Wybierz wycieczkę" %> 


       <%= f.input :przystanek_ids, label: "Przystanek" ,  collection: @przystanek, label_method: "combined_value", value_method: :id,  :prompt => "Wybierz przystanek" %> 

       </div>

       <div class="span3">
        <h5>Dane dodatkowe</h5>
       <%= f.input :email , label: "Adres Mailowy" ,as: :email  %>
       <%= f.input :zaplacona, label: "Zapłacona?" ,:as => :boolean %>   
      <div class="btn-group" data-toggle="buttons-checkbox">
      <button id="uwaga-btn" type="button" class="btn btn-warning">Uwagi</button>
      </div>


      <div id="uwagi" style="display:none">
               <%= f.input_field :uwagi , label: "Uwagi", as: :text , size: "200", :style => "height:200px;" %>
      </div>

      </div>
       <div class="span12">
          <div class="form-actions ">
      <%= f.input :updated_by, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.submit "Zatwierdź", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rezerwacjas_index_path, :class => 'btn' %>
       </div>

<% end %>
       </div>


