<div class="span11">

<%- model_class = Rezerwacja -%>
<div class="page-header">
  <h3>Lista rezerwacji</h3>
</div>
<table id="rezerwacje" class="table table-striped">
  <thead>
    <tr>
      <th>Nr</th>
      <th><%= model_class.human_attribute_name(:nazwa) %></th>
      <th><%= model_class.human_attribute_name(:imie) %></th>
       <th><%= model_class.human_attribute_name(:nazwisko) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th>Numer telefonu</th>
      <th>Data urodzenia</th>


      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rezerwacjas.each do |rezerwacja| %>
      <tr>
        <td><%= link_to rezerwacja.id, rezerwacja_path(rezerwacja) %></td>

        <td><%= FindWycieczkaByID(rezerwacja.nazwa) %></td>
        <td><%= rezerwacja.imie %> </td>
        <td><%= rezerwacja.nazwisko %></td>
        <td><%= rezerwacja.email %></td>
        <td><%= rezerwacja.nrtelefonu %></td>
        <td><%= rezerwacja.dataUrodzenia %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rezerwacja_path(rezerwacja), :class => 'btn btn-mini btn-success' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      rezerwacja_path(rezerwacja),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jesteś pewien?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rezerwacja_path,
            :class => 'btn btn-primary' %>


</div>
