<%= simple_form_for @user,  :html => { :class => 'form-inline' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
     
  <% end %>

    <%= f.input :email, label: "Adres E-mail", as: :string %>
    <%= f.input :username, label: "Nazwa Użytkownika", as: :string %>
  <% if @current_method == "new" %>
      <%= f.input :password, label: "Hasło", as: :password %>
      <%= f.input :password_confirmation, label: "Potwierdznie hasła", as: :password %>
  <% end %>
  <% for role in Role.find(:all) %>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      <%= role.name %>
  <% end %>
  <br>

  <br>
    <%= f.submit "Dodaj użytkownika", :class => "btn btn-info" %>
<% end %>