	
<div class="container">
<div class="span4 offset4 text-center" >
	<div class="page-header">
   <p class="lead text-info"><big>Zapomniałeś hasła?</big></p>
</div>


<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Wyślij", :class=>"btn btn-info" %>
<%= render "devise/shared/links" %>
  
  </div>

<% end %>

