$(document).ready(function() {

  $.extend( $.fn.dataTableExt.oStdClasses, {
	"sSortAsc": "header headerSortDown",
	"sSortDesc": "header headerSortUp",
	"sSortable": "header"
} );


  $('#rezerwacje').dataTable({
  "sDom": "<'row-fluid'>lfrt<'row-fluid'>ip",
  "sPaginationType": "bootstrap",


                     "oLanguage": {
                        "sProcessing":   "Proszę czekać...",
                        "sLengthMenu":   "Pokaż _MENU_ pozycji",
                        "sZeroRecords":  "Nie znaleziono żadnych pasujących indeksów",
                        "sInfo":         "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                        "sInfoEmpty":    "Pozycji 0 z 0 dostępnych",
                        "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Szukaj:",
                        "sUrl":          "",
                        "oPaginate": {
                        "sFirst":    "Pierwsza",
                        "sPrevious": "Poprzednia",
                        "sNext":     "Następna",
                        "sLast":     "Ostatnia"
                        }
                      },
               <% @data = DateTime.now.to_date.strftime("%d-%m-%Y") %>
                oTableTools: {
                            // "sRowSelect": "multi",
                         "aButtons": [
                                {  
                                    "sExtends": "xls",
                                    <% if @nazwa.nil? %>
                                    "sFileName": "Lista-wycieczki-<%= @nazwa %>-<%=  @data %>.xls",
                                    <% else %>
                                    "sFileName": "Lista-wycieczki-<%=  @data %>.xls",
                                    <% end %>                              
                                    "sButtonText": "Excel",
                                     "mColumns": "visible"
                                }, 
                                {  
                                    "sExtends": "csv",
                                    <% if @nazwa.nil? %>
                                    "sFileName": "Lista-wycieczki-<%= @nazwa %>-<%=  @data %>.csv",
                                    <% else %>
                                    "sFileName": "Lista-wycieczki-<%=  @data %>.csv",
                                    <% end %>
                                    "sButtonText": "CSV",
                                     "mColumns": "visible"
                                },
                                  {  
                                    "sExtends": "pdf",
                                    <% if @nazwa.nil? %>
                                     "sFileName": "Lista-wycieczki-<%= @nazwa %>-<%=  @data %>.pdf",
                                    <% else %>
                                    "sFileName": "Lista-wycieczki-<%=  @data %>.pdf",
                                    <% end %>
                                    "sButtonText": "PDF",
                                     "mColumns": "visible"
                                },
                                {
                                    "sExtends": "copy",
                                    "sButtonText": "Skopiuj do schowka",

                                }
                                ,
                                {
                                    "sExtends": "print",
                                    "sInfo": "<h2>Drukowanie</h2>Strona została oczyszczona i przygotowana do wydruku.</br>Wybierz opcję drukowania z menu przeglądarki.",
                                    "sButtonText": "Wydrukuj"
                                }
                                // ,
                                

                                // { "sExtends": "editor_create","sButtonText": "Dodaj",  "editor": editor },
                                // { "sExtends": "editor_edit", "sButtonText": "Edytuj",   "editor": editor },
                                // { "sExtends": "editor_remove", "sButtonText": "Usuń", "editor": editor }                              
                                ],
           

                 sSwfPath: "<%= asset_path("copy_csv_xls_pdf.swf") %>"
              
        }
                
                      });
  $('#wycieczki').dataTable({
  "sDom": "T<'row-fluid'>lfrt<'row-fluid'>ip",
  "sPaginationType": "bootstrap",


                     "oLanguage": {
                        "sProcessing":   "Proszę czekać...",
                        "sLengthMenu":   "Pokaż _MENU_ pozycji",
                        "sZeroRecords":  "Nie znaleziono żadnych pasujących indeksów",
                        "sInfo":         "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                        "sInfoEmpty":    "Pozycji 0 z 0 dostępnych",
                        "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Szukaj:",
                        "sUrl":          "",
                        "oPaginate": {
                        "sFirst":    "Pierwsza",
                        "sPrevious": "Poprzednia",
                        "sNext":     "Następna",
                        "sLast":     "Ostatnia"
                        }
                      },


                                                                   <% @data = DateTime.now.to_date.strftime("%d-%m-%Y") %>

                oTableTools: {
                            // "sRowSelect": "multi",
                         "aButtons": [
                                {  
                                    "sExtends": "xls",
                                    "sFileName": "Lista-wycieczek-<%=  @data %>.xls",
                                    "sButtonText": "Excel",
                                     "mColumns": "visible"
                                }, 
                                {  
                                    "sExtends": "csv",
                                    "sFileName": "Lista-wycieczek-<%=  @data %>.csv",
                                    "sButtonText": "CSV",
                                     "mColumns": "visible"
                                },
                                  {  
                                    "sExtends": "pdf",
                                    "sFileName": "Lista-wycieczka-<%=  @data %>.pdf",
                                    "sButtonText": "PDF",
                                     "mColumns": "visible"
                                },
                                {
                                    "sExtends": "copy",
                                    "sButtonText": "Skopiuj do schowka",

                                }
                                ,
                                {
                                    "sExtends": "print",
                                    "sInfo": "<h2>Drukowanie</h2>Strona została oczyszczona i przygotowana do wydruku.</br>Wybierz opcję drukowania z menu przeglądarki.",
                                    "sButtonText": "Wydrukuj"
                                }
                                // ,
                                

                                // { "sExtends": "editor_create","sButtonText": "Dodaj",  "editor": editor },
                                // { "sExtends": "editor_edit", "sButtonText": "Edytuj",   "editor": editor },
                                // { "sExtends": "editor_remove", "sButtonText": "Usuń", "editor": editor }                              
                                ],
           

                 sSwfPath: "<%= asset_path("copy_csv_xls_pdf.swf") %>"
              
        }
                
                      });
 $('#przystanki').dataTable({
  "sDom": "T<'row-fluid'>lfrt<'row-fluid'>ip",
  "sPaginationType": "bootstrap",


                     "oLanguage": {
                        "sProcessing":   "Proszę czekać...",
                        "sLengthMenu":   "Pokaż _MENU_ pozycji",
                        "sZeroRecords":  "Nie znaleziono żadnych pasujących indeksów",
                        "sInfo":         "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                        "sInfoEmpty":    "Pozycji 0 z 0 dostępnych",
                        "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Szukaj:",
                        "sUrl":          "",
                        "oPaginate": {
                        "sFirst":    "Pierwsza",
                        "sPrevious": "Poprzednia",
                        "sNext":     "Następna",
                        "sLast":     "Ostatnia"
                        }
                        },
                                                <% @data = DateTime.now.to_date.strftime("%d-%m-%Y") %>

                oTableTools: {
                            // "sRowSelect": "multi",
                         "aButtons": [
                                {  
                                    "sExtends": "xls",
                                    "sFileName": "Przystanki.xls",
                                    "sButtonText": "Excel",
                                     "mColumns": "visible"
                                }, 
                                {  
                                    "sExtends": "csv",
                                    "sFileName": "Przystanki.csv",
                                    "sButtonText": "CSV",
                                     "mColumns": "visible"
                                },
                                  {  
                                    "sExtends": "pdf",
                                    "sFileName": "Przystanki.pdf",
                                    "sButtonText": "PDF",
                                     "mColumns": "visible"
                                },
                                {
                                    "sExtends": "copy",
                                    "sButtonText": "Skopiuj do schowka",

                                }
                                ,
                                {
                                    "sExtends": "print",
                                    "sInfo": "<h2>Drukowanie</h2>Strona została oczyszczona i przygotowana do wydruku.</br>Wybierz opcję drukowania z menu przeglądarki.",
                                    "sButtonText": "Wydrukuj"
                                }
                                // ,
                                

                                // { "sExtends": "editor_create","sButtonText": "Dodaj",  "editor": editor },
                                // { "sExtends": "editor_edit", "sButtonText": "Edytuj",   "editor": editor },
                                // { "sExtends": "editor_remove", "sButtonText": "Usuń", "editor": editor }                              
                                ],
           

                 sSwfPath: "<%= asset_path("copy_csv_xls_pdf.swf") %>"
              
        }
                
                      });

// $('<div class="input-prepend"><span class="add-on"><i class="icon-search"></i></span><input type="text" aria-controls"rezerwacje"> </div>').replaceAll('#rezerwacje_filter label');
// $('<div class="input-prepend"><span class="add-on"><i class="icon-search"></i></span><input type="text" aria-controls"wycieczki"> </div>').replaceAll('#wycieczki_filter label');
// $('<div class="input-prepend"><span class="add-on"><i class="icon-search"></i></span><input type="text" aria-controls"przystanki"> </div>').replaceAll('#przystanki_filter label');



});

