<div class="span3">
<%= simple_form_for @wycieczka, :html => { :class => 'form-inline' } do |f| %>

      <%= f.input :nazwa, collection: [ 'Praga','Praga Nocą','Skalne Miasto','Szwajcaria Saksońska', 'Drezno','Morawski Kras','Liberec', 'Wiedeń','Czeski Raj'], label: "Miejsce wycieczki", :prompt => "Wybierz miejsce wycieczki" %>
    
      <%= f.input :data, as: :string, :class => 'text_field' %>
      <%= f.input :updated_by, :as => :hidden, :input_html => { :value => current_user.id } %>

	</div>
	<div class="span12">
	<div class="form-actions">
    <%= f.submit "Dodaj", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                wycieczkas_index_path, :class => 'btn' %>
	</div>
<% end %>
</div>
