<div class="span12">
<%- model_class = Rezerwacja -%>
<div class="page-header">
   <blockquote><p><big>Lista uczestników wycieczki: <%= FindWycieczkaByID(params[:id]).humanize %></big></p> </blockquote>
</div>

<%= link_to raw("<i class=\"icon-download-alt\"></i> Pobierz do Excela"), lista_rezerwacji_path(format: "xls"), :class=>"btn btn-primary btn-success" %>
<br><br>
<table id="rezerwacje" class="table table-striped">
  <thead>
    <tr>
      <th>Numer rezerwacji</th>
      <th>Przystanek</th>
      <th><%= model_class.human_attribute_name(:imie) %></th>
      <th><%= model_class.human_attribute_name(:nazwisko) %></th>
      <th>Numer telefonu</th>
      <th>Data urodzenia</th>


      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rezerwacjas.each do |rezerwacja| %>

        <% if rezerwacja.zaplacona == 1 

        @class = "success"
      else
        @class = "error"
      end

     %>

 <tr class="<%= @class %>">
        <td><%= link_to "#{User.find_by_id(rezerwacja.updated_by).username[0..2]}/#{rezerwacja.id}/#{Rezerwacja.find_by_id(rezerwacja.id).created_at.year}", rezerwacja_pokaz_path(rezerwacja) %></td>
         <td><%= rezerwacja.przystaneks.first.nazwa %></td>
        <td><%= rezerwacja.imie %> </td>
        <td><%= rezerwacja.nazwisko %></td>
        <td><%= rezerwacja.nrtelefonu %></td>
        <td><%= rezerwacja.dataUrodzenia %></td>
        <td style="width:11%">
     <%= link_to raw("<i class=\"icon-plus\"></i>"),
                      nowa_osoba_path(rezerwacja), :class => 'btn btn-mini btn-primary', :title => "Dodaj rezerwacje",
                                                   :id => "add" %>
          <%= link_to raw("<i class=\"icon-list\"></i>"),
                        rezerwacja_pokaz_path(rezerwacja), :class => 'btn btn-mini btn-warning',  :title => "Pokaż rezerwacje" ,:id => "show" %>    
          <%= link_to raw("<i class=\"icon-edit\"></i>"),
                        rezerwacja_edytuj_path(rezerwacja), :class => 'btn btn-mini btn-success',  :title => "Edytuj rezerwacje", :id => "edit" %>         
          <%= link_to raw("<i class=\"icon-remove\"></i>"),
                      rezerwacja_path(rezerwacja),
                       :title => "Usuń rezerwacje",
                      :method => :delete,
                      :id => "delete",
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jesteś pewien?')) },
                      :class => 'btn btn-mini btn-danger',
                      :title => "Usuń rezerwacje" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to raw("<i class=\"icon-plus\"></i> Dodaj nowego uczestnika"),
            dodatkowa_rezerwacja_path(params[:id]),
            :class => 'btn btn-primary' %>


</div>
