<div class="span12">

<%- model_class = Rezerwacja -%>
<div class="page-header">
   <blockquote><p><big>Lista uczestników wycieczki: <%= FindWycieczkaByID(params[:id]).humanize %></big></p> </blockquote>
</div>
<table id="rezerwacje" class="table table-striped">
  <thead>
    <tr>
      <th>Numer rezerwacji</th>
      <th><%= model_class.human_attribute_name(:imie) %></th>
      <th><%= model_class.human_attribute_name(:nazwisko) %></th>
      <th>Numer telefonu</th>
      <th>Data urodzenia</th>


      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rezerwacjas.each do |rezerwacja| %>
      <tr>
        <td><%= link_to "BT/#{rezerwacja.id}/#{Rezerwacja.find_by_id(rezerwacja.id).created_at.year}", rezerwacja_pokaz_path(rezerwacja) %></td>
        <td><%= rezerwacja.imie %> </td>
        <td><%= rezerwacja.nazwisko %></td>
        <td><%= rezerwacja.nrtelefonu %></td>
        <td><%= rezerwacja.dataUrodzenia %></td>
        <td style="width:11%">
     <%= link_to raw("<i class=\"icon-plus\"></i>"),
                      nowa_osoba_path(rezerwacja), :class => 'btn btn-mini btn-primary', :title => "Dodaj rezerwacje" %>
          <%= link_to raw("<i class=\"icon-list\"></i>"),
                        rezerwacja_pokaz_path(rezerwacja), :class => 'btn btn-mini btn-warning' %>    
          <%= link_to raw("<i class=\"icon-edit\"></i>"),
                        rezerwacja_edytuj_path(rezerwacja), :class => 'btn btn-mini btn-success' %>         
          <%= link_to raw("<i class=\"icon-remove\"></i>"),
                      rezerwacja_path(rezerwacja),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jesteś pewien?')) },
                      :class => 'btn btn-mini btn-danger',
                      :title => "Usuń rezerwacje" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to raw("<i class=\"icon-plus\"></i> Dodaj nowego uczestnika"),
            new_rezerwacja_path,
            :class => 'btn btn-primary' %>


</div>
