<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <LastAuthor>Aleksander Gładysz</LastAuthor>
  <LastPrinted>2013-06-25T23:30:58Z</LastPrinted>
  <Created>2013-06-25T21:23:42Z</Created>
  <Version>14.0</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>10900</WindowHeight>
  <WindowWidth>25480</WindowWidth>
  <!-- <WindowTopX>120</WindowTopX> -->
  <!-- <WindowTopY>140</WindowTopY> -->
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m706390908">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="20" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Vertical="Bottom" ss:WrapText="1"/>
  </Style>
  <Style ss:ID="s100">
   <Alignment ss:Vertical="Center"/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s127">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="13" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s128">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="13" ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s129">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="13" ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s130">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="13" ss:Color="#000000"/>
   <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s131">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="13" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s132">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="13" ss:Color="#000000"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Praga 25.06.2013 r.">
  <Table ss:ExpandedColumnCount="9" ss:ExpandedRowCount="13" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="15" ss:Border="1">
   <Column ss:Width="20"/>
   <Column ss:Width="110"/>
   <Column ss:Width="150"/>
   <Column ss:Width="63"/>
   <Column ss:Width="79" ss:Span="1"/>
   <Column ss:Index="7" ss:Width="96"/>
   <Column ss:StyleID="s62" ss:Width="86"/>
   <Column ss:AutoFitWidth="0" ss:Width="119"/>
   <Row ss:AutoFitHeight="0" ss:Height="26">
    <Cell ss:MergeAcross="8" ss:MergeDown="1" ss:StyleID="m706390908"><Data
      ss:Type="String">LISTA WYCIECZKI <%= FindWycieczkaByID(params[:id]).humanize %></Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0"/>
   <Row ss:AutoFitHeight="0" ss:Height="23" ss:StyleID="s100">
    <Cell ss:StyleID="s127"><Data ss:Type="String">ID</Data></Cell>
    <Cell ss:StyleID="s128"><Data ss:Type="String">Numer rezerwacji</Data></Cell>
    <Cell ss:StyleID="s128"><Data ss:Type="String">Przystanek</Data></Cell>
    <Cell ss:StyleID="s128"><Data ss:Type="String">Imie</Data></Cell>
    <Cell ss:StyleID="s128"><Data ss:Type="String">Nazwisko</Data></Cell>
    <Cell ss:StyleID="s128"><Data ss:Type="String">Telefon</Data></Cell>
    <Cell ss:StyleID="s128"><Data ss:Type="String">Data urodzenia</Data></Cell>
    <Cell ss:StyleID="s129"><Data ss:Type="String">Dodane przez</Data></Cell>
    <Cell ss:StyleID="s129"><Data ss:Type="String">Uwagi</Data></Cell>
   </Row>
   <% @i = 1 %>
   <% @rezerwacjas.each do |rezerwacja| %>
   <Row ss:AutoFitHeight="0" ss:Height="30">
    <Cell ss:StyleID="s130"><Data ss:Type="Number"><%= @i %></Data></Cell>
    <Cell ss:StyleID="s131"><Data ss:Type="String"><%= "#{User.find_by_id(rezerwacja.updated_by).username[0..2]}/#{rezerwacja.id}/#{Rezerwacja.find_by_id(rezerwacja.id).created_at.year}" %></Data></Cell>
    <Cell ss:StyleID="s131"><Data ss:Type="String"><%= rezerwacja.przystaneks.first.nazwa %></Data></Cell>
    <Cell ss:StyleID="s131"><Data ss:Type="String"><%= rezerwacja.imie %></Data></Cell>
    <Cell ss:StyleID="s131"><Data ss:Type="String"><%= rezerwacja.nazwisko %></Data></Cell>
    <Cell ss:StyleID="s131"><Data ss:Type="String"><%= rezerwacja.nrtelefonu %></Data></Cell>
    <Cell ss:StyleID="s131"><Data ss:Type="String"><%= rezerwacja.dataUrodzenia %></Data></Cell>

    <Cell ss:StyleID="s131"><Data ss:Type="String"><%= "#{User.find_by_id(rezerwacja.updated_by).username }" %></Data></Cell>
    <Cell ss:StyleID="s132"><Data ss:Type="String"><%= rezerwacja.uwagi %></Data></Cell>
   </Row>
   <% @i = @i + 1 %>
  <% end %>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <PageMargins x:Left="0.35000000000000009" x:Right="0.35000000000000009"
     x:Top="0.15000000000000011"/>
   </PageSetup>
   <Unsynced/>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <Scale>67</Scale>
    <HorizontalResolution>-4</HorizontalResolution>
    <VerticalResolution>-4</VerticalResolution>
   </Print>
   <PageLayoutZoom>0</PageLayoutZoom>
   <Selected/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>9</ActiveRow>
     <ActiveCol>8</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
  <PageBreaks xmlns="urn:schemas-microsoft-com:office:excel">
   <ColBreaks>
    <ColBreak>
     <Column>9</Column>
    </ColBreak>
   </ColBreaks>
  </PageBreaks>
 </Worksheet>
</Workbook>
